#### Ecrire un programme Python qui  parcourt une liste prédéfinie de nombre entiers, recherche un nombre spécifique dans cette liste et remplacetoutes ses occurrences par un autre nombre.

In [1]:
liste = [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
[100 if x == 12 else x for x in liste]

[100, 35, 100, 9, 56, 24, 35, 100, 89, 24, 35, 100]

In [2]:
# solution (d'écraser la première liste par la deuxième)
liste_nombre = [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
liste_recheche = 12
liste_remplace = 100

print("Liste avant le remplacement",liste_nombre)

def remplacer (liste_nombre, liste_recheche, liste_remplace):
    
    for i in range(len(liste_nombre)):
        if liste_nombre[i] == liste_recheche:
            liste_nombre[i] = liste_remplace
    return liste_nombre

print("Liste après le remplacement", remplacer(liste_nombre, liste_recheche, liste_remplace))

Liste avant le remplacement [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
Liste après le remplacement [100, 35, 100, 9, 56, 24, 35, 100, 89, 24, 35, 100]

In [3]:
# solution 2: à l'aide d'une fonction(d'écraser la première liste par la deuxième)
liste_nombre = [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
liste_recheche = 12
liste_remplace = 100
print("Liste avant le remplacement",liste_nombre)
for i in range(len(liste_nombre)):
    if liste_nombre[i] == liste_recheche:
        liste_nombre[i] = liste_remplace
print("Liste après le remplacement",liste_nombre)

Liste avant le remplacement [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
Liste après le remplacement [100, 35, 100, 9, 56, 24, 35, 100, 89, 24, 35, 100]

In [4]:
# solution 3: faire une nouvelle liste pour éviter de modifier la liste iniciale
liste_nombre = [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
liste_recheche = 12
liste_remplace = 100

liste_apres = liste_nombre

print("Liste avant le remplacement",liste_nombre)
cpt = 0
for i in liste_apres:
    if i == liste_recheche:
        liste_apres[cpt] = liste_remplace
    cpt += 1 # cpt = cpt + 1
print("Liste après le remplacement",liste_apres)

Liste avant le remplacement [12, 35, 12, 9, 56, 24, 35, 12, 89, 24, 35, 12]
Liste après le remplacement [100, 35, 100, 9, 56, 24, 35, 100, 89, 24, 35, 100]

#### Les dictionnaires
Un dictionnaire en Python est une collecte d'élément **non ordonnées, modifiables et indexée**. Chaque élément dans un dictionnaire est une pair **clé-valeur, ou chaque clé est unique.**
Son Avantage: les dictionnaires sont optimiser pour récupérer rapidement des valeurs lorsque vous connaissez la clé, ce qui les rend **idéaux pour stocker des données qui est nécessaire de récupérrer éfficacement.**

In [5]:
# Comment créer un dictionnaire de données (pour mes dépences mensuelles du mois)
depences_mensuelles = {"loyer": 378,
                       "divertissement": 50,
                       "sante": 200,
                       "transport": 20}
depences_mensuelles

{'loyer': 378, 'divertissement': 50, 'sante': 200, 'transport': 20}

In [6]:
type(depences_mensuelles)

dict

In [7]:
# impossible d'avoir deux clés identiques

depences_mensuelles = {"loyer": 378,
                       "divertissement": 50,
                       "sante": 200,
                       "transport": 20,
                       "sante": 68}
depences_mensuelles

{'loyer': 378, 'divertissement': 50, 'sante': 68, 'transport': 20}

In [10]:
len(depences_mensuelles)

4

In [8]:
# utilisation en machine learning avec possibillité de créer des dictionnaires de dictionnaire

depences_janvier = {"loyer": 348,
                       "divertissement": 50,
                       "sante": 200,
                       "transport": 20}

depences_fevrier = {"loyer": 378,
                       "divertissement": 190,
                       "sante": 0,
                       "transport": 35}

depences_mars = {"loyer": 378,
                       "divertissement": 500,
                       "sante": 80,
                       "transport": 15}

depences_annuelle = {
                    "janvier": depences_janvier,
                    "fevrier": depences_fevrier,
                    "mars": depences_mars
                    }

In [9]:
len(depences_annuelle)

3

# Read My Dictionnairy

In [11]:
# Lire une clé
depences_mensuelles["loyer"]

378

In [18]:
# Tester une autre clé
# depences_mensuelles["existe pas"] X
existe = depences_mensuelles.get("existe")
print(existe)

None

In [19]:
# Obtenir toutes lesclés spécifique
depences_mensuelles.keys()

dict_keys(['loyer', 'divertissement', 'sante', 'transport'])

In [25]:
# Accéder à une clé spécifique
depences_mensuelles[list(depences_mensuelles.keys())[1]]

50

In [28]:
# Obtenir les valeurs
depences_mensuelles.values

dict_values([378, 50, 68, 20])

In [33]:
# Obtenir les items
depences_mensuelles.items()

dict_items([('loyer', 378), ('divertissement', 50), ('sante', 68), ('transport', 20)])

In [35]:
# Taille du dictionnaire
len(depences_mensuelles)

4

# Update

In [36]:
# Mettre à jour la valeur d'une clé dans le dictionnaire
depences_mensuelles["loyer"] = 600
depences_mensuelles

{'loyer': 600, 'divertissement': 50, 'sante': 68, 'transport': 20}

In [37]:
# Ajouter un nouveaux élément dans mon dictionnaire
depences_mensuelles["Alternance"] = 980
depences_mensuelles

{'loyer': 600,
 'divertissement': 50,
 'sante': 68,
 'transport': 20,
 'Alternance': 980}

# Delete

In [40]:
# Supprimer une clé avec la fonction del
# del depences_mensuelles['Alternance']
depences_mensuelles

{'loyer': 600, 'divertissement': 50, 'sante': 68, 'transport': 20}

In [41]:
# méthode pop propre au dictionnaire qui retoune 
# la valeur dans une autre variable mieux pour un programme dinamique
transport = depences_mensuelles.pop("transport")

In [42]:
print(transport)
print(depences_mensuelles)

20
{'loyer': 600, 'divertissement': 50, 'sante': 68}

## Utilisation des distionnaires dans les boucles for

In [45]:
# For avec les clés
for k in depences_mensuelles.keys():
    print(k)

loyer
divertissement
sante

In [46]:
# For avec les valeurs
for val in depences_mensuelles.values():
    print(val)

600
50
68

In [47]:
for i in depences_mensuelles.items():
    print(i)

('loyer', 600)
('divertissement', 50)
('sante', 68)

In [53]:
for k,v in depences_annuelle.items():
    print("Durant le mois de",k)
    for i,j in v.items():
        print("J'ai dépensé",i,j)

Durant le mois de janvier
J'ai dépensé loyer 348
J'ai dépensé divertissement 50
J'ai dépensé sante 200
J'ai dépensé transport 20
Durant le mois de fevrier
J'ai dépensé loyer 378
J'ai dépensé divertissement 190
J'ai dépensé sante 0
J'ai dépensé transport 35
Durant le mois de mars
J'ai dépensé loyer 378
J'ai dépensé divertissement 500
J'ai dépensé sante 80
J'ai dépensé transport 15

# Formule générale

[nouvel_element for element in liste_originale if condition]

In [ ]:
# Créer la liste des carrés de 0 à 99

In [56]:
# Approche classique
liste_carre = []
for i in range(100) :
    liste_carre.append(i**2)
print(liste_carre)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [57]:
# Définition en compréhension
liste_carre_comprehension = [x ** 2 for x in range(99)]
print(liste_carre_comprehension)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604]

In [58]:
# Filtrer une liste pour ne garder que les nombres pairs
liste_carre_comprehension_paire = [x ** 2 for x in range(99) if x % 2 == 0]
print(liste_carre_comprehension_paire)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [59]:
# Tranformer des noms en majuscule
liste_nom = ["jean", "paul", "marie", "marc", "malik", "etan"]
liste_nom_majuscule = [x.upper() for x in liste_nom]
liste_nom_majuscule

['JEAN', 'PAUL', 'MARIE', 'MARC', 'MALIK', 'ETAN']

In [74]:
# Exercice afficher que les mots de plus de 3 caractères
mots = ["Bonjour", "le", "monde", "Python", "est", "génial"]
trois_lettre = [x for x in mots if len(x) > 3]
print(trois_lettre)

['Bonjour', 'monde', 'Python', 'génial']

# Formule générale

In [76]:
# dictionnaire ave les nombres au carré de 0 à 99
dict_carre ={k:k**2 for k in range(0,99)}
print(dict_carre)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604}

In [77]:
# dictionnaire uniquement avec les nombres pairs
dict_carre_pair = {k:k**2 for k in range(0,99) if k % 2 == 0}
print(dict_carre_pair)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400, 22: 484, 24: 576, 26: 676, 28: 784, 30: 900, 32: 1024, 34: 1156, 36: 1296, 38: 1444, 40: 1600, 42: 1764, 44: 1936, 46: 2116, 48: 2304, 50: 2500, 52: 2704, 54: 2916, 56: 3136, 58: 3364, 60: 3600, 62: 3844, 64: 4096, 66: 4356, 68: 4624, 70: 4900, 72: 5184, 74: 5476, 76: 5776, 78: 6084, 80: 6400, 82: 6724, 84: 7056, 86: 7396, 88: 7744, 90: 8100, 92: 8464, 94: 8836, 96: 9216, 98: 9604}

In [79]:
# faire l'inverse de l'inventaire
inventaire = {'pommes': 30, 'bananes': 15, 'cerises': 20}
inventaire_inv = {v: k for k, v in inventaire.items()}
inventaire_inv

{30: 'pommes', 15: 'bananes', 20: 'cerises'}

# Fornctios natives en Python

La documentation des fonctions natives :https://docs.python.org/fr/3/library/functions.html#abs

In [80]:
# print
print("Bonjour")

Bonjour

In [83]:
# format (à connaître)
temperature = 25
ville = "Marseille"
resultat = f"La temperature à {ville} est de {temperature} degrés"
resultat

'La temperature à Marseille est de 25 degrés'

In [84]:
# input
age = input("Quel est votre âge ?")

Quel est votre âge ?22

In [87]:
print(age)
type(age)

22

str

In [89]:
# comment transformer les strings en integer
age_int = int(age)
print(age_int)
type(age_int)

22

int

In [93]:
# abs
x = -5
abs(x)

5

In [99]:
# round
y = 1.7555
r = 1.4999
print(round(y))
print(round(r))

2
1

In [109]:
# max (liste)
liste = [4, 8, 4, 0, 6, 7, 41]
liste2 = [0, 0, 0, 0]
max(liste)

41

In [101]:
# min (liste)
min(liste)

4

In [102]:
# sum
sum(liste)

70

In [111]:
# all (vrai ou différent de zéro)
all(liste2)

False

In [110]:
# any (vrai ou différent de zéro)
any(liste2)

False

In [103]:
# len
len(liste)

6

In [117]:
# range
ensemble = range(0, 99, 5)
ensemble

range(0, 99, 5)

In [118]:
# type
type(ensemble)

range

In [125]:
# conversion list, tuple, dictionnaire
# list_ensemble = list(ensemble)
# list_ensemble 
tuple_ensemble = tuple(ensemble)
type(tuple_ensemble)

tuple

In [ ]:
# conversion float, int string

# Bien démarrer avec les packages